@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.resultContainer {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #eee;
    height: 200px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}